################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Files
*.pyproj
*.user
*.sln
/.vs

# Documentation Files (Sphynx)
/docs/_build

# Binary and Build Files
*.egg-info
/pyioflash/__pycache__
/pyioflash/*/__pycache__
/pyioflash/*/*/__pycache__

# jupyter notebook checkpoints
/examples/.ipynb_checkpoints
pyioflash/legacy/.ipynb_checkpoints

# temporary files
*.swp
