################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.pyproj
*.user
/pyioflash/__pycache__
/.vs
/docs/_build
/docs/_make
